:root {
  --c-primary__blue: #2196F3;
  --c-hover__blue: #188CE8;
  --c-overlay__blue: rgba(33, 150, 243, 0.9);
  --c-background__blue: #2F303A;
  --c-text__black: #212121;
  --c-secondary__black: #000000;
  --c-text__grey: #757575;
  --c-portfolio-button-bg__grey: #F5F4FA;
  --c-features-bg__grey: #F5F4FA;
  --c-border__grey: #ECECEC;
  --c-border__grey-clients: #AFB1B8;
  --c-social-bg__grey: #AFB1B8;
  --c-text__white: #FFFFFF;
  --c-background__white: #EEEEEE;
  --c-background__white2: #F5F5F5;
  --c-modal-bg__transparent: rgba(0, 0, 0, 0.2);
  --c-label-bg__transparent: rgba(47, 48, 58, 0.8);
  --transition-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--c-text__black);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0px;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--c-text__black);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--c-primary__blue);
}
.logo__studio--header {
  color: var(--c-text__black);
}
.logo__studio--footer {
  color: var(--c-text__white);
}

.nav {
  margin-left: 93px;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.nav__list .current {
  color: var(--c-primary__blue);
}
.nav__list .nav__item {
  position: relative;
}
.nav__list .current::after {
  content: "";
  position: absolute;
  bottom: 1px;
  background-color: var(--c-primary__blue);
  border-radius: 22px;
  width: 100%;
  height: 4px;
}
.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--c-text__black);
}
.nav__link {
  -webkit-transition: color 250ms var(--transition-cubic-bezier), border-color 250ms var(--transition-cubic-bezier);
  transition: color 250ms var(--transition-cubic-bezier), border-color 250ms var(--transition-cubic-bezier);
}
.nav__link:hover, .nav__link:focus {
  color: var(--c-primary__blue);
}

.button {
  cursor: pointer;
  font-family: inherit;
}
.button__hero {
  min-height: 50px;
  /*so a button changes size if we type more text*/
  min-width: 216px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--c-text__white);
  background-color: var(--c-primary__blue);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms var(--transition-cubic-bezier), -webkit-box-shadow 250ms var(--transition-cubic-bezier);
  transition: background-color 250ms var(--transition-cubic-bezier), -webkit-box-shadow 250ms var(--transition-cubic-bezier);
  transition: background-color 250ms var(--transition-cubic-bezier), box-shadow 250ms var(--transition-cubic-bezier);
  transition: background-color 250ms var(--transition-cubic-bezier), box-shadow 250ms var(--transition-cubic-bezier), -webkit-box-shadow 250ms var(--transition-cubic-bezier);
}
.button__hero:hover, .button__hero:focus {
  background-color: var(--c-hover__blue);
}
.button__submit {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: var(--c-primary__blue);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--c-text__white);
  -webkit-transition: background-color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: background-color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.button__submit:hover, .button__submit:focus {
  background-color: var(--c-hover__blue);
}
.button__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--c-text__white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: var(--c-secondary__black);
  -webkit-transition: fill 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: fill 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.button__close--icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: fill 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.button__close--icon:hover, .button__close--icon:focus {
  fill: var(--c-hover__blue);
}
.button__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  background-color: var(--c-primary__blue);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--c-text__white);
  -webkit-transition: background-color 250ms var(--transition-cubic-bezier), -webkit-box-shadow 250ms var(--transition-cubic-bezier);
  transition: background-color 250ms var(--transition-cubic-bezier), -webkit-box-shadow 250ms var(--transition-cubic-bezier);
  transition: background-color 250ms var(--transition-cubic-bezier), box-shadow 250ms var(--transition-cubic-bezier);
  transition: background-color 250ms var(--transition-cubic-bezier), box-shadow 250ms var(--transition-cubic-bezier), -webkit-box-shadow 250ms var(--transition-cubic-bezier);
}
.button__subscribe:hover, .button__subscribe:focus {
  background-color: var(--c-hover__blue);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  gap: 50px;
}
.contacts__icon--envelope {
  margin-right: 10px;
}
.contacts__icon--phone {
  margin-right: 10px;
}
.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--c-text__grey);
  -webkit-transition: color 250ms var(--transition-cubic-bezier), border-color 250ms var(--transition-cubic-bezier);
  transition: color 250ms var(--transition-cubic-bezier), border-color 250ms var(--transition-cubic-bezier);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--c-primary__blue);
}
.contacts__icon--envelope, .contacts__icon--phone {
  fill: currentColor;
}

.hero {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/index-hero/hero-bg.jpg);
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/index-hero/hero-bg.jpg);
  max-width: 1600px;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /*to center a button. Button is inline-block, and can be aligned by  */
}
.hero__title {
  width: 696px;
  /*to transfer correctly text to new line*/
  margin: 0 auto;
  /*to center h1 inside hero block. In block elements text auto-aligned to left side*/
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--c-text__white);
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.features__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--c-features-bg__grey);
  border-radius: 4px;
  margin-bottom: 30px;
  -webkit-transition: -webkit-box-shadow 250ms var(--transition-cubic-bezier);
  transition: -webkit-box-shadow 250ms var(--transition-cubic-bezier);
  transition: box-shadow 250ms var(--transition-cubic-bezier);
  transition: box-shadow 250ms var(--transition-cubic-bezier), -webkit-box-shadow 250ms var(--transition-cubic-bezier);
}
.features__wrapper:hover, .features__wrapper:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.features__item {
  width: 270px;
}
.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--c-text__black);
}
.features__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--c-text__grey);
}

.services {
  padding-top: 0;
}
.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.services__wrapper {
  position: relative;
}
.services__label {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: var(--c-label-bg__transparent);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--c-text__white);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--c-border__grey-clients);
  border-radius: 4px;
  height: 92px;
  width: 170px;
  color: var(--c-border__grey-clients);
  -webkit-transition: color 250ms var(--transition-cubic-bezier), border-color 250ms var(--transition-cubic-bezier);
  transition: color 250ms var(--transition-cubic-bezier), border-color 250ms var(--transition-cubic-bezier);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--c-primary__blue);
  color: var(--c-primary__blue);
}
.clients__icon {
  fill: currentColor;
}

.team {
  background-color: #f5f4fa;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.team__item {
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__wrapper {
  padding: 30px 0;
}
.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--c-text__black);
}
.team__position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--c-text__grey);
  margin-bottom: 16px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--c-social-bg__grey);
  background-color: var(--c-text__white);
  -webkit-transition: color 250ms var(--transition-cubic-bezier), background-color 250ms var(--transition-cubic-bezier);
  transition: color 250ms var(--transition-cubic-bezier), background-color 250ms var(--transition-cubic-bezier);
}
.social__link:hover, .social__link:focus {
  background-color: var(--c-primary__blue);
  color: var(--c-text__white);
}
.social__icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--c-modal-bg__transparent);
  border: 1px solid #000000;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 1;
  z-index: 1;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--c-text__white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: opacity 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: opacity 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  opacity: 0;
}

.checkbox__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.checkbox__custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #fff;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--c-secondary__black);
  border-radius: 2px;
}
.checkbox__input:checked + .checkbox__custom {
  background-color: var(--c-primary__blue);
  border-color: var(--c-primary__blue);
}
.checkbox__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--c-text__grey);
}
.checkbox__link {
  margin-left: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--c-primary__blue);
}

.form__header {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--c-text__black);
}
.form__label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--c-text__grey);
}
.form__wrapper {
  position: relative;
  margin-bottom: 10px;
}
.form__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: border-color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.form__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: fill 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.form__input:focus {
  border-color: var(--c-primary__blue);
}
.form__input:focus + .form__icon {
  fill: var(--c-primary__blue);
}
.form-text {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  -webkit-transition: border-color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: border-color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.form-text::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-text::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-text:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-text::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-text:focus {
  border-color: var(--c-primary__blue);
}

.footer {
  background-color: var(--c-background__blue);
  padding: 60px 0;
}
.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 70px;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: auto;
}

.footer-social {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.footer-social__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--c-text__white);
  margin-bottom: 20px;
}
.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}
.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--c-text__white);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms var(--transition-cubic-bezier);
  transition: background-color 250ms var(--transition-cubic-bezier);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--c-primary__blue);
}
.footer-social__icon {
  fill: currentColor;
}

.address {
  font-style: normal;
  margin-top: 20px;
}
.address__street {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--c-text__white);
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe {
  margin-left: auto;
}
.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.subscribe__label {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--c-text__white);
}
.subscribe__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--c-background__blue);
  padding-left: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe .footer-icon-send {
  fill: var(--c-text__white);
}

.portfolio-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.portfolio-nav__button {
  padding: 6px 22px;
  font-family: inherit;
  background-color: var(--c-portfolio-button-bg__grey);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  border: none;
  cursor: pointer;
  -webkit-transition: color 250ms var(--transition-cubic-bezier), background-color 250ms var(--transition-cubic-bezier), -webkit-box-shadow 250ms var(--transition-cubic-bezier);
  transition: color 250ms var(--transition-cubic-bezier), background-color 250ms var(--transition-cubic-bezier), -webkit-box-shadow 250ms var(--transition-cubic-bezier);
  transition: color 250ms var(--transition-cubic-bezier), background-color 250ms var(--transition-cubic-bezier), box-shadow 250ms var(--transition-cubic-bezier);
  transition: color 250ms var(--transition-cubic-bezier), background-color 250ms var(--transition-cubic-bezier), box-shadow 250ms var(--transition-cubic-bezier), -webkit-box-shadow 250ms var(--transition-cubic-bezier);
}
.portfolio-nav__button:hover, .portfolio-nav__button:focus {
  background-color: var(--c-primary__blue);
  color: var(--c-text__white);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.card {
  width: 370px;
  -webkit-transition: -webkit-box-shadow 250ms var(--transition-cubic-bezier);
  transition: -webkit-box-shadow 250ms var(--transition-cubic-bezier);
  transition: box-shadow 250ms var(--transition-cubic-bezier);
  transition: box-shadow 250ms var(--transition-cubic-bezier), -webkit-box-shadow 250ms var(--transition-cubic-bezier);
}
.card:hover, .card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card__thumb {
  position: relative;
  overflow: hidden;
}
.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--c-text__white);
  background-color: var(--c-overlay__blue);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--transition-cubic-bezier);
  transition: -webkit-transform 250ms var(--transition-cubic-bezier);
  transition: transform 250ms var(--transition-cubic-bezier);
  transition: transform 250ms var(--transition-cubic-bezier), -webkit-transform 250ms var(--transition-cubic-bezier);
}
.card:hover .card__overlay, .card:focus .card__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
.card__wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.card__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--c-text__black);
}
.card__description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--c-text__grey);
}/*# sourceMappingURL=main.css.map */