.address {
  font-style: normal;
  margin-top: 20px;

  &__street {
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--c-text__white);
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__link {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}
