.footer-social {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  &__title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--c-text__white);
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: left;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--c-text__white);
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms var(--transition-cubic-bezier);
  }

  &__link:hover,
  &__link:focus {
    background-color: var(--c-primary__blue);
  }

  &__icon {
    fill: currentColor;
  }
}
