.header {
  border-bottom: 1px solid #ececec;

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: $tablet) {
      justify-content: center;
    }
  }
  .mobile-menu__burger {
    @media (min-width: $tablet) {
      display: none;
    }
  }
}
