:root {
  --c-primary__blue: #2196F3;
  --c-hover__blue: #188CE8;
  --c-overlay__blue: rgba(33, 150, 243, 0.9);
  --c-background__blue: #2F303A;

  --c-text__black: #212121;
  --c-secondary__black: #000000;

  --c-text__grey: #757575;

  --c-portfolio-button-bg__grey: #F5F4FA;
  --c-features-bg__grey: #F5F4FA;

  --c-border__grey: #ECECEC;

  --c-border__grey-clients: #AFB1B8;
  --c-social-bg__grey: #AFB1B8;

  --c-text__white: #FFFFFF;

  --c-background__white: #EEEEEE;

  --c-background__white2: #F5F5F5;

  --c-modal-bg__transparent: rgba(0, 0, 0, 0.2);

  --c-label-bg__transparent: rgba(47, 48, 58, 0.8);

  --transition-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}